// Bootstrap
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

// Compass Style sheets
@import "../../bower_components/compass-mixin/lib/_compass.scss";

// animate sass
@import "../../bower_components/animate-sass/_animate.scss";

body {
	-webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
	@include animate-prefixer(animation-duration, $base-duration);
	@include animate-prefixer(animation-fill-mode, both);

	&.hinge {
		@include animate-prefixer(animation-duration, $base-duration * 2);
	}
}


// mixins
@import "partials/mixins";

// variables
$primary: #674d76;
$secondary: #40274d;
$bar: #acacac;
$primary-text: #acacac;

//Layout
.text-right 	{ text-align: right; }
.text-center 	{ text-align: center; }
.text-left	 	{ text-align: left; }

.col-centered	{
    float: none;
    margin: 0 auto;
}

div.spacer {
	height: 30px;
}

span.spacer {
	display: block;
	height: 20px;
}

.clearfix {
	clear: both;
	height: 0;
	margin: 0;
}
// Fonts
body {
	font-family: helvetica;
	color: $primary-text;
}

// 
.ribbon-bg {
	background-color: $secondary;
	display: inline-block;
	width: 33%;
	height: 6.45em;

	position: absolute;
	bottom: -2.15em;
}

.ribbon-right {
	right: 0;
}

.ribbon-wrapper {
	position: relative;
}

// Ribbon
.ribbon {
 // font-size: 32px;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

margin-top: 0!important;
margin-bottom: 45px!important;

 width: 33.3333%;
    
 position: relative;
 background: $primary;
 color: #fff;
 text-align: center;
 padding: 10px 20px; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

 height: 3em;
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid $secondary;
 z-index: -1;
}

// bg-bar
.ribbon:before {
 left: -2em;
 border-width: 1.5em;
}
.ribbon:after {
 right: -2em;
 border-width: 1.5em;
}


.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: darken($secondary, 20) transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

// Styles 
.strap-link {
	position:relative;
	top: -0.7em;
	text-align: center;
	a {
		font-size: 21px;
		color: $primary;
		font-weight: lighter;
	}
}

.seperator {
	background-color: $bar;
	i {
		background-color: $secondary;
		color: #fff;
		font-style: normal;
		display: block;
		width: 60px;
		height: 60px;
		padding-top: 7px;
		font-size: 22px;
		margin-right: 10px;
		text-align: center;
		border: solid 6px $bar;
		
		float:left;
		position: relative;
		top: -12px;

		// ***** NOT X - BROSWER 
		//border-radius: 30px;
		@include border-radius(40px);
	}
	h3 {
		color: #fff;
		max-height: 35px;
		margin: 0;
		padding-top: 5px;
	}
	.seperator-inner {
		height: 35px;
	}
}

.what-is-popi {
	// margin-top: 20px;
	// div {border: solid 1px red;}
}

.info-box-heading {
	color: $primary;
} 

.info-box {
	color: #fff;
	text-align: center;
	padding: 10px 10px;
	margin-bottom: 10px;
	@include border-radius(20px);
	@include info-box-bg();

	hr {
		width: 20%;
		margin: auto;
		margin-bottom: 10px;
		color: #fff;
	}
	&.fadeInRightBig span {
		font-size: 43px;
		font-weight: 100;
	}
}

.calendar {
	.calendar-image:before {
		content: "";
		background: url(../img/calendar.png);
		width: 104px;
		height: 110px;
		position: relative;
		left: -70px;
		top: -10px;
		display: block;
	}
}

.section-2 {
	.spacer {
		height: 20px;
	}
}

.arrow {
	.arrow-heading	{
		float: left;
		background-color: $secondary;
		color: #fff;
		height: 40px;
		padding-left: 30px;
		padding-right: 60px;
		padding-top: 8px;
		font-size: 20px;
	}
	.arrow-point {
		float: left;
		width: 0; 
		height: 0; 
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		
		border-left: 20px solid $secondary;
	}
	.arrow-content {
		float: left;
		padding-left: 20px;
		padding-top: 8px;
		font-size: 18px;
	}
}

.section-3 {
	text-align: center;

	.label {
		display: block;
		margin-top: 10px;
		font-size: 13px;
		color: $secondary;
	}
}

.section-4 {
	position: relative;
	top: -25px;
	text-align: center;
	div img {
		margin: auto;
	}
	.info-box {
		margin-top: 10px;
		text-align: right;
		padding: 30px 20px;
	}
	table {
		td.tick {
			width: 60px;
		}
		td.spacer {
			height: 20px;
		}
	}
}

footer {
	color: $primary;
	font-weight: 100;
	hr {
		border-top: 5px solid $primary;
		margin-bottom: 0;
	}
	p {
		margin-bottom: 0;
	}
	.tel-bar {
		padding: 10px 0;
		background-color: #f1eff4
	}
	a {
		color: $primary;
		font-weight: bold;
	}
	a:hover {
		color: $secondary;
	}
	.footer-bar {
		height: 30px;
		margin-top: 0px;
		margin-bottom: 20px;
		background-color: $primary;
		color: #fff;
		padding-top: 5px;
		a {
			color: #fff;
			font-weight: 100;
		}
	}
}

.cta {
	position: absolute;
	top: 80px;
	left: -1em;
	position: fixed;
	background-color: $primary; 
	border: solid 1px #fff;
	display: inline;
	padding: 1em;
	padding-left: 2em;
	text-align: center;
	@include border-radius(13px);
		color: #fff;
		text-decoration: none;
		@include transition();
}

.cta:hover {
	background-color: #fff;
	border: solid 1px $primary;
		color: $primary;
		text-decoration: none;
}

// Responsive
@import "partials/responsive";
