@mixin info-box-bg() {
	background: #a593bd; /* Old browsers */
	background: -moz-linear-gradient(top,  #a593bd 0%, #664e72 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a593bd), color-stop(100%,#664e72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a593bd 0%,#664e72 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a593bd 0%,#664e72 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a593bd 0%,#664e72 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a593bd 0%,#664e72 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a593bd', endColorstr='#664e72',GradientType=0 ); /* IE6-9 */
}

// $param: "all";
// $timing: 0.2s;
// $easing: "ease-out";

// @mixin transition($param, $timing, $easing) {
// 	-webkit-transition: $param $timing $easing;
//     -moz-transition: $param $timing $easing;
//     -o-transition: $param $timing $easing;
//     transition: $param $timing $easing;
// }

@mixin transition() {
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}