@media all and (max-width: 1200px) and (min-width: 992px) {
	// body {background-color: tomato;}

	header {
		.fluid-container {
			margin-top: -20px;
		}
	}
	.seperator { z-index: 1; }
	.section-4 .diagram { z-index: -2; }
}
// end 992 to 1200

@media all and (max-width: 991px) and (min-width: 431px) {
  // body {background-color: red;}
		
	header {
		.fluid-container {
			margin-top: 5px;
		}
		.logo-container { 
			text-align: center;
			float: none!important;
		}
	}
	.ribbon {
		font-size: 14px;
		height: 5em;	
	}
	
	.ribbon-bg {
		height: 3em;
		bottom: -1em;
	}

	.seperator { z-index: 1; }
	.sm-text-center { text-align: center!important; }
	.sm-hidden { display: none; }

	.calendar{ margin-bottom: 40px; }

	.seperator h3 {
		padding-top: 8px;
		font-size: 15px;
	}

	.arrow .arrow-heading { font-size: 15px; }

	.arrow .arrow-content { font-size: 15px; }

	.sm-multiline-seperator h3 { padding-top: 2px!important; }

	.penalty { margin-bottom: 10px; }

	.section-4 .diagram { z-index: -2; }
	
	footer .footer-bar { height: 52px; }	

	.cta { display: none; }

}
// end between 991 and 431

@media all and (max-width: 430px) and (min-width: 0px) {
	// body {background-color: green;}
	
	.sm-hidden { display: none; }

	.seperator { z-index: 1;}

	.sm-text-center { text-align: center!important; }

	header {
		.fluid-container { margin-top: 5px; }
		.logo-container { 
			text-align: center;
			float: none!important;
		}
	}

	.ribbon {
		font-size: 14px;
		height: 5.5em;
		text-align: left;
	}
	
	.ribbon-bg {
		height: 3em;
		bottom: -1em;
	}

	.seperator h3 {
		padding-top: 11px;
		font-size: 13px;
	}

	.calendar{ margin-bottom: 40px;}
	
	.arrow-heading { font-size: 15px!important; }
	.arrow-content { font-size: 14px!important; }
	
	.sm-multiline-seperator h3 { padding-top: 4px!important; }

	.penalty { margin-bottom: 10px; }

	.section-4 .diagram { padding-left: 0; z-index: -2;}
	
	footer .footer-bar { height: 52px; }

	.cta { display: none; }
}
// end 0 -> 430