<div class="container section-4">
	<div class="row">

		<div class="col-lg-6">
			<div class="col-lg-5 col-lg-offset-1">
				<img src="img/arrow/left-down.jpg" alt=""> <br>
				LARGE CORPORATES WITH MANY INTERMEDIARIES
			</div>

			<div class="col-lg-6">
				<img src="img/arrow/down.jpg" alt=""> <br>
				SMME CLIENTS COMPLYING FOR THEIR COMPANY
			</div>
		</div>
		<!-- / left -->
		
		<div class="col-lg-5 pull-right">
			<div class="info-box text-right">
				<h4>PROVIDE A <strong>FREE</strong> POPI READINESS ASSESSMENT</h4>
				<h4>PROVIDE A ROLL OUT / <strong>PROJECT PLAN</strong></h4>
				<h4>PROVIDE <strong>MAINTENANCE</strong> THAT WILL UPDATE ANY REQUIREMENT</h4>
				<h4>ASK QUESTIONS AND <strong>RECEIVE GUIDANCE</strong> FROM TRAINED POPI CONSULTANTS</h4>
			</div>
		</div>
		<!-- /right -->

	</div>
</div>
<!-- / section 4 -->